requests
beautifulsoup4
selenium

azure-ai-textanalytics==5.3.0b1
###### this installs the pre release latest beta version
azure-ai-textanalytics --pre

azure-cognitiveservices-speech==1.19.0

python-dotenv
schedule
