$ pip install requests
% pip install beautifulsoup4

% pip install azure-ai-textanalytics==5.1.0
% pip install azure-ai-textanalytics==5.3.0b1 (This second one supersedes the previous one)
% pip install azure-ai-textanalytics --pre (this installs the pre release latest beta version and this is what I needed to get the github examples to run. So I had to uninstall the previous one and install this one)

% pip install azure-cognitiveservices-speech==1.19.0

% pip install python-dotenv
% pip install schedule
